@charset "utf-8";
/* CSS Document */
::selection {background: #3399DB;}
::-moz-selection {background: #3399DB;}
#jpreBar, .patern span, .red, .nav-button span, .inner-overlay, .skillbar-bar, .serviseslider h3 span , .icon-holder, .subscriptionForm input#submitButton, #loadingProgress, .share a img  , .planContainer .price , .planContainer .button a, .sepcolor, .quote-icon ,.skillbar-bar, #facts ul li h6 , .skillbar-bar-member, .member-social-list li a , #closeProject a, #ajaxpage  a.lanch-project, #clientlist, #contact_form textarea:focus, #contact_form input:focus, .owl-theme .owl-controls .owl-page.active span,.owl-theme .owl-controls.clickable .owl-page:hover span, .slides-pagination a.current,.slides-pagination a:hover , .submit_btn:hover{background:#3399DB;}
#team .content , #options li.back, #subscribe .content, #prices .content{border-top:2px solid #3399DB;}
#facts ul li h6:before {border-bottom-color: #3399DB;}
#testimonials .content{border-top:2px solid #3399DB;border-bottom:2px solid #3399DB;}
.actser:after {border-top-color: #3399DB;}
.inner a:hover , .inner li.current a{color:#3399DB;border-right:2px solid #3399DB;}
.customNavigation a.next-slide{background:#3399DB url(../images/pl-small.png) no-repeat center;}
.customNavigation a.close{background:#3399DB url(../images/close-white.png) no-repeat center;}
.customNavigation a.btn:hover{box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3399DB, 0 0 0 10px rgba(255,255,255,0.5);}
.ajl, .bigtext , .sections-head ,.slides-container h1 span, .planContainer .options li, .error, #options li:hover, #options li.actcat , .social-list ul li a:hover, .num , .project-description h3, .project-details h3 ,.subcribe div#error,.subcribe div#success, .smallicon:hover, .footer{color:#3399DB;}
.triangle{border-color: transparent #3399DB transparent transparent;}
.popup-gallery a span {background: #3399DB url(../images/pl-small.png) no-repeat center;}
.social-list ul li.back{border-top: 1px solid #3399DB;}
.to-top:after {border-bottom-color: #3399DB;}
.flex-direction-nav .flex-next { background: #3399DB url(../images/project-next1.png) no-repeat center;}
.flex-direction-nav .flex-prev {background: #3399DB url(../images/project-prev1.png) no-repeat center;}
@media only screen and  (max-width: 540px) {.but h3{color:#3399DB;}}